body{
    margin: auto;
    text-align: center;
    background-color: #29bb89;
}

h1{
    color: #e6dd3b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: #e6dd3b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}